* {
  font-family: "ubuntu";
  margin: 0;


}

.lower {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  padding-top: 50px;
}

.comp-2 {
  /* align-items: center; */
  color: black;
  justify-content: space-between;
  display: flex;
  /* flex-wrap: wrap; */

  margin: 0 5%;
}

.filter {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  min-height: 150px;
  

}

.filter h3 {
  display: flex;
  justify-content: center;
  color: blue
}

.f-img {
  width: 100%;
  height: auto;
}


@media only screen and (max-width: 670px){
  .comp-2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    
  }

  .filter{
    width: 100%;
  }
  
}