
.gender{
    padding: 5px 10px;   
    height: 120px;
    overflow-x: auto;
    
}
.choose-gender{
    width: fit-content;
    border-style: solid;
    border-width: 1px;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap:4px; 
    border-radius: 4px;
    flex-wrap: wrap;
    
    
}

.gender-opt{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 10px;

}

.gender-item{
    margin: 0;
    cursor: pointer;
    /* width: 25%; */
}

.gender-item:hover{
    background-color: rgb(234, 234, 234);
    /* background-color: rgb(198, 198, 198); */
}

@media only screen and (max-width: 650px){
    .gender{
        height: 100px;
    }
}